.contactContainerMain {
    max-width: 100vmax;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 255, 255, 0.14);
    padding: 10vh;
    overflow: hidden !important;
}

.contactText {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.contact {
    border-top: 3px solid #0b15259a;
    border-bottom: 3px solid #0b15259a;
    font: 600 4vh JetBrains Mono;
    color: #0b15259a;
    letter-spacing: 1px;
}
.extraStyle{
    margin: 6vh;
}

.leftDiv {
    background-color: white;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2vh;
    margin: 3%;
    overflow: hidden !important;
    position: relative;
    transition: all 0.5s ease;
    border-radius: 20px;
    border: 5px solid green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.leftDiv:hover,
.rightDiv:hover {
    .cnt-1{
        transform: rotateZ(-40deg);
        transition: all 0.5s ease;
    }
}

.rightDiv {
    margin: 3%;
    width: 40%;
    height: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid green;
}

.formName>input,
.formName>input,
.formEmail>input,
.formSubject>input,
.formMessage>input {
    height: 6vh;
    width: 40vw;
    font: 300 1.5vh JetBrains Mono;
    padding-left: 2vh;
}

.formMessage>input {
    height: 30vh;
}

.formName,
.formEmail,
.formSubject,
.formMessage {
    font: 300 2.5vh JetBrains Mono;
}

.formName>p,
.formEmail>p,
.formSubject>p,
.formMessage>p {
    font: 300 2.5vh JetBrains Mono;
    padding: 2vh 0;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}
.cnt-1{
    height: 20vh;
    width: 20vh;
    position: absolute;
    background-color: green;
    transition: all 0.5s ease;
    bottom: -3vh;
    right: -7vh;
    border-radius: 20px;
    transform: rotateZ(10deg)
}
.spcl{
    height: 10vh;
    width: 10vh;
    right: -5vh;
}
@media only screen and (max-width: 1000px) {
    .contactContainerMain {
        flex-direction: column;
    }
    .leftDiv{
        height: 1500%;
        width: 100%;
        margin: 0;
        overflow: hidden !important;
    }
    .rightDiv{
        height: 1000%;
        width: 100%;
    }
    .spcl{
        display: none;
    }
    .cnt-1{
        display: none;
    }
}