.projectPerentDiv{
    width: 100vmax;
    overflow-y: hidden;
}
.projectContainerMain {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0.14);
}

.projectText {
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding-top: 4vh;
}
.ourProject{
    border-top: 3px solid #0b15259a;
    border-bottom: 3px solid #0b15259a;
    font: 600 4vh JetBrains Mono;
    color: #0b15259a;
    letter-spacing: 1px;
    overflow: hidden;
}

.projectContainer {
    display: flex;
    width: 100%;
    overflow: hidden !important;
    margin-top: 10vh;
    flex-wrap: wrap;
    justify-content: center;
}