
.eventContainerMain {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0.14);
}
.eventText{
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding-top: 4vh;
}

.eventUs{
    border-top: 3px solid #0b15259a;
    border-bottom: 3px solid #0b15259a;
    font: 600 4vh JetBrains Mono;
    color: #0b15259a;
    letter-spacing: 1px;
    overflow: hidden;
}

.pastEventText{
    padding: 5vh ;
    text-align: center;
    font: 600 2.6vh roboto;
    letter-spacing: 1.6px;
    color: red;
}
.eventContainer{
    display: flex;
    width: 100%;
    overflow: hidden !important;
    margin-top: 10vh;
    flex-wrap: wrap;
    justify-content: center;
}
.moreEvents{
    margin: 5vh auto;
    height: 10vh;
    overflow: hidden;
}
@media only screen and (max-width: 900px) {
    .contactContainerMain {
        flex-direction: column;
        background-color: #00ffff24;
        padding: 10vh;
        width: 100vmax;
    }

}